*.jar

*.tmp
*.tmp.owl
*.tmp.ttl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/dido.owl
src/ontology/dido.ttl
src/ontology/dido.json
src/ontology/dido-base.*
src/ontology/dido-basic.*
src/ontology/dido-full.*
src/ontology/dido-simple.*
src/ontology/dido-simple-non-classified.*

src/ontology/seed.txt
src/ontology/pre_seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-dido-edit.owl
src/ontology/dido-edit.ttl-report.tsv

src/ontology/target/
src/ontology/tmp/*

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
src/ontology/data/dialog_daicwoz
src/ontology/data/dialog_daicwoz/*
src/ontology/data/daicwoz*
src/ontology/data/dialog_ami
src/ontology/data/dialog_ami/*

tmp*/
tmp*/*
*.log

DIDO/OOPS*
DIDO/OOPS*/*
DIDO/webvowl
DIDO/webvowl/*

docs/_site
docs/_site/*
2013-11-13-14-06-35-gl-diana.zip
2013-11-13-14-06-35-gl-diana/2013-11-13-14-06-35-gl-diana.diaml
2013-11-13-14-06-35-gl-diana/2013-11-13-14-06-35-gl-diana_DiAML-MultiTab.xlsx
2013-11-13-14-06-35-gl-diana/2013-11-13-14-06-35-gl-diana_DiAML-TabSW.xlsx
2013-11-13-14-06-35-gl-diana/2013-11-13-14-06-35-gl-diana_segmentation.txt
2013-11-13-14-06-35-gl-diana/2013-11-13-14-06-35-gl-diana_tokenization.txt
2013-11-13-14-06-35-gl-diana/2013-11-13-14-06-35-gl-diana_transcript.txt
docs/schemas_interoperability.md
src/temp_scripts_dbox/2013-11-13-14-06-35-gl-diana.diaml
src/temp_scripts_dbox/2013-11-13-14-06-35-gl-diana_DiAML-MultiTab.xlsx
src/temp_scripts_dbox/2013-11-13-14-06-35-gl-diana_DiAML-TabSW.xlsx
src/temp_scripts_dbox/2013-11-13-14-06-35-gl-diana_segmentation.txt
src/temp_scripts_dbox/2013-11-13-14-06-35-gl-diana_tokenization.txt
src/temp_scripts_dbox/2013-11-13-14-06-35-gl-diana_transcript.txt
src/temp_scripts_dbox/align_dbox_conv.py
src/temp_scripts_dbox/diana_aligned.jsonl
src/temp_scripts_dbox/diana_aligned.ttl
src/temp_scripts_dbox/fix.py
src/temp_scripts_dbox/fix_imports.py
src/temp_scripts_dbox/fix_top.py
src/temp_scripts_dbox/patch_dbox.py
src/temp_scripts_dbox/scratch_test.py
src/temp_scripts_dbox/scratch_test2.py
src/temp_scripts_dbox/scratch_test3.py
